.crewList {
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.crewList__item {
  border: 2px solid #000;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  font-size: 1.3rem;
}