@media (max-width: 720px) {
  .crewList {
    grid-column: span 2;
    grid-column-end: 3;
    grid-column-start: 1;
  }

  .timeText {
    grid-column-start: 2;
    grid-row-start: 1;

  }

  .mapContainer {
    grid-template-columns: 1fr 1fr;
  }
}